<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper 
       namespace="ltd.newbee.mall.newbeemall.dao.GoodsReviewMapper">
       
      <select id= "findReviewByGoodsId"
         resultType="ltd.newbee.mall.newbeemall.entity.GoodsReview">
         select re.review_id, re.rating, re.nick_name, re.review_date,re.review_content,re.review_title,
         re.review_photo1,re.review_photo2,re.review_photo3,re.review_photo4,re.review_photo5,
         item.goods_name, count(li.review_id) as count
         from review as re 
         join tb_newbee_mall_order_item as item
         on re.order_id = item.order_id
         join review_like as li
         on re.review_id = li.review_id
         where item.goods_id = #{goodsId} and proved = 1 and rating = #{rating}
         group by re.review_id
         order by rating DESC,count desc
         </select>
        
        <select id="findReviewWrittenByGoodsId"
		resultType="ltd.newbee.mall.newbeemall.entity.GoodsReview">
		select item.order_id, item.goods_id, orr.user_id
		from tb_newbee_mall_order_item as item
		left join review as re
		on re.order_id = item.order_id
		and re.goods_id = item.goods_id
		join tb_newbee_mall_order as orr
		on item.order_id = orr.order_id
		where item.goods_id = #{goodsId}
		and re.order_id is null
		and orr.user_id= #{userId}
		order by orr.create_time;
	</select>
        
        <insert id="insertGoodsReview" parameterType="map">
		insert into review (review_id,order_id,goods_id,nick_name,
		rating,review_title,review_content,review_photo1,review_photo2,
		review_photo3,review_photo4,review_photo5,review_date)
		values
			(#{reviewId}, #{orderId}, #{goodsId}, #{nickName}
			, #{rating}, #{reviewTitle}, #{reviewContent}, #{reviewPhoto1}
			, #{reviewPhoto2}, #{reviewPhoto3}, #{reviewPhoto4},#{reviewPhoto5},#{reviewDate})
	   </insert>
                
       <select id="selectMaxReviewId" resultType="long">
		select max(review_id)
		from review
	</select>
	
	<select id = "countRatingButNoReview"
       resultType = "ltd.newbee.mall.newbeemall.entity.GoodsReview">
       select count(*) as review_count, avg (rating) as rating_avg
       from review
       where proved = 1 and goods_id = #{goodsId}
       </select>
       
       <select id = "countReviewAndRating"
       resultType = "ltd.newbee.mall.newbeemall.entity.GoodsReview">
       select count(review_title) as title_count ,rating 
       from review
       where proved = 1 and goods_id = #{goodsId} 
       and review_content is not null
       </select>
       
       <select id = "countReviewRating"
       resultType = "int">
       select count(rating) as count
       from review
       where goods_id = #{goodsId} and rating = #{rating};
       </select>
       
        
         </mapper>