<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper 
       namespace="ltd.newbee.mall.newbeemall.dao.GoodsQAMapper">
       
      <select id= "findGoodsQA"
         resultType="ltd.newbee.mall.newbeemall.entity.GoodsQA">
         select qa.user_id,q.question_contents,q.question_date ,a.answer_contents,
         a.answer_date,count(qa.user_id) as count
         from newbee_mall_db.questions as q 
         join newbee_mall_db.answer as a
         on q.question_id = a.question_id
         join qa_like as qa
         on a.answer_id = qa.answer_id
         where a.goods_id = #{goodsId}
         group by qa.answer_id
         order by ${orderByCol} desc
         limit #{startOffsetIndex} ,#{pageLimitNumber}
         </select>
         

     <select id="findGoodsQANumAndPage" parameterType = "long"
		resultType="int">
         select count(*) 
         as totalCount
         from answer
         where goods_id = #{goodsId}
         </select>
         
         <!-- 插入数据 -->
     <insert id="insertGoodsQuestion">
		insert into questions
		(question_id,user_id,question_date,goods_id,question_contents)
		values
		(#{questionId}, #{userId}, #{questionDate}, #{goodsId}, #{questionContents})
		</insert>
		
		<!-- 取questionID的最大值 -->
	 <select id="selectMaxQuestionId" resultType="long">
		select max(question_id)
		from questions
	 </select>
	 
	 <!-- qa_like中能否插入数据（判断条件） -->
	 <select id="insertGoodsQALikeOrNot" resultType="int">
	   select count(*) 
       from qa_like
       where user_id = #{userId} and answer_id = #{anwserId}
	    </select>
	 
	 
	 <!-- qa_like中插入数据 -->
	 <insert id="insertGoodsQALike" >
		insert into qa_like
		(answer_id,user_id,like_date)
	    values
		(#{answerId}, #{userId}, #{likeDate})
	</insert>
                
        
</mapper>