<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper 
       namespace="ltd.newbee.mall.newbeemall.dao.GoodsReviewMapper">
       
      <select id= "findReviewByGoodsId"
         resultType="ltd.newbee.mall.newbeemall.entity.GoodsReview">
         select re.review_id, re.rating, re.nick_name, re.review_date,re.review_content,re.review_title,
         re.review_photo1,re.review_photo2,re.review_photo3,re.review_photo4,re.review_photo5,
         item.goods_name, count(li.review_id) as count
         from review as re 
         join tb_newbee_mall_order_item as item
         on re.order_id = item.order_id
         join review_like as li
         on re.review_id = li.review_id
         where item.goods_id = #{goodsId} and proved = 1 and rating = #{rating}
         group by re.review_id
         order by rating DESC,count desc
         limit #{start}, #{number}
         </select>
        
        <select id="findReviewWrittenByGoodsId"
		resultType="ltd.newbee.mall.newbeemall.entity.GoodsReview">
		select item.order_id, item.goods_id, orr.user_id
		from tb_newbee_mall_order_item as item
		left join review as re
		on re.order_id = item.order_id
		and re.goods_id = item.goods_id
		join tb_newbee_mall_order as orr
		on item.order_id = orr.order_id
		where item.goods_id = #{goodsId}
		and re.order_id is null
		and orr.user_id= #{userId}
		order by orr.create_time;
	</select>
        
	   <!-- ...2...插入 -->
	    <insert id="insertGoodsReview">
		insert into review
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="reviewId != null">
				review_id,
			</if>
			<if test="orderId != null">
				order_id,
			</if>
			<if test="goodsId != null">
				goods_id,
			</if>
			<if test="nickName != null">
				nick_name,
			</if>
			<if test="rating != null">
				rating,
			</if>
			<if test="title != null">
				review_title,
			</if>
			<if test="content != null">
				review_content,
			</if>
			<if test="photo1 != null">
				review_photo1,
			</if>
			<if test="photo2 != null">
				review_photo2,
			</if>
			<if test="photo3 != null">
				review_photo3,
			</if>
			<if test="photo4 != null">
				review_photo4,
			</if>
			<if test="photo5 != null">
				review_photo5,
			</if>
			<if test="reviewDate != null">
				review_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="reviewId != null">
				#{reviewId},
			</if>
			<if test="orderId != null">
				#{orderId},
			</if>
			<if test="goodsId != null">
				#{goodsId},
			</if>
			<if test="nickName != null">
				#{nickName},
			</if>
			<if test="rating != null">
				#{rating},
			</if>
			<if test="title != null">
				#{reviewTitle},
			</if>
			<if test="content != null">
				#{reviewContent},
			</if>
			<if test="photo1 != null">
				#{reviewPhoto1},
			</if>
			<if test="photo2 != null">
				#{reviewPhoto2},
			</if>
			<if test="photo3 != null">
				#{reviewPhoto3},
			</if>
			<if test="photo4 != null">
				#{reviewPhoto4},
			</if>
			<if test="photo5 != null">
				#{reviewPhoto5},
			</if>
			<if test="reviewDate != null">
				#{reviewDate},
			</if>
		</trim>
	</insert>
                
       <select id="selectMaxReviewId" resultType="long">
		select max(review_id)
		from review
	</select>
	
	<!-- 综合评价和总评分人数(4.1和405和396) -->
	<select id = "countRatingButNoReview"
       resultType = "ltd.newbee.mall.newbeemall.entity.GoodsReview">
       select count(*) as review_count, avg (rating) as rating_avg, count(review_content) as title_count 
       from review
       where proved = 1 and goods_id = #{goodsId}
       </select>
 
     
    <!-- 取每个rating的数量(223) -->  
       <select id = "countReviewRating"
       resultType = "ltd.newbee.mall.newbeemall.entity.GoodsReview">
       select 5 as rating , count(rating) as rating_count from review where rating = 5 and goods_id = #{goodsId}
       union all
       select 4 , count(rating) from review where rating = 4 and goods_id = #{goodsId}
       union all
       select 3 , count(rating) from review where rating = 3 and goods_id = #{goodsId}
       union all
       select 2 , count(rating) from review where rating = 2 and goods_id = #{goodsId}
       union all
       select 1 , count(rating) from review where rating = 1 and goods_id = #{goodsId}
       </select>
       
       
     <!-- 是否能点赞reviewlike -->
       <select id = "findReviewLikeOrNot"
       resultType = "int">
       select count(*) 
       from review_like
       where user_id = #{userId} and review_id = #{reviewId}
       </select>
       
     <!-- 插入点赞reviewlike -->  
       <insert id = "insertReviewLike">
       insert into review_like
       (review_id,user_id,like_date)
       values
       (#{reviewId},#{userId},#{likeDate})
       </insert>
        
         </mapper>